# SPDX-License-Identifier: MIT
# Copyright (c) 2021 Chua Hou

# Bracketing {{{1

snippet (( "Parentheses" i
(${1:${VISUAL}})
endsnippet

snippet [[ "Brackets" i
[${1:${VISUAL}}]
endsnippet

snippet {{ "Braces" i
{${1:${VISUAL}}}
endsnippet

snippet "" "Quotation marks" i
"${1:${VISUAL}}"
endsnippet

# Modeline {{{1
# vim: set foldmethod=marker:
